<section class="section">
    <div class="container">
        <h1 class="title">Customers Missing Email</h1>

        <div class="buttons">
            <%= link_to "All Customers", root_path, class: "button is-link" %>
            <%= link_to "Alphabetized", "/customers/alphabetized", class: "button is-info" %>
        </div>

        <% @customers.each do |customer| %>
        <%= render customer %>
        <% end %>
    </div>
</section>